{% extends 'base.html' %}

{% block nav %}
{% endblock %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block header %}
<header class="jumbotron">
    <h1 class="text-center">Recuperar cuenta</h1>
</header>
{% endblock %}

{% block content %}
<br>
<h3 class="text-center">
    Nueva contraseña
</h3>
<br>
{% if validlink %}

<form method="post" class="container">
    {% csrf_token %}

    {{ form.new_password1.errros }}
    <label for="id_new_password1" class="form-control">Nueva contraseña</label>
    {{ form.new_password1 }}

    {{ form.new_password2.errors }}
    <label for="id_new_password2" class="form-control">Confirmar contraseña</label>
    {{ form.new_password2 }}
    <br>
    <input type="submit" value="Cambiar mi contraseña" class="btn btn-primary">
</form>

{% else %}

<h1 class="text_center">ENLACE INVALIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>

{% endif %}

{% endblock %}