{% extends 'base.html' %}

{% block title %}Perfil{% endblock %}

{% block header %}
<header class="jumbotron">
    <h1 class="text-center">Perfil</h1>
</header>
{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col-sm">
            {% if usuario.cover.url != '' %}
            <img src="{{ usuario.cover.url }}" alt="Aqui se coloca tu foto de Perfil" class="imgRedonda">
            {% else %}
            <img src="{{ usuario.cover }}" alt="Aqui se coloca tu foto de Perfil" class="imgRedonda">
            {% endif %}
        </div>
        <div class="col-sm">
            <p>
                Usuario:
            </p>
            {{ usuario.nombre }}
        </div>
        <div class="col-sm">
        </div>
    </div>
    <br>
    <hr>
    <p>
        {{ usuario.descripcion }}
    </p>

    <div class="alert alert-primary">
       <a href="{% url 'mostrar_seguidores' usuario.id %}" style="color: black"> Segidores : {{ usuario.seguidores }} </a>
    </div>

    <a href="{% url 'editar_perfil' usuario.id %}">Editar perfil</a>

    <br>
    <br>
    <a href="{% url 'post_new' %}">Crear nuevo post!</a>
    <p>
        Publicaciones:
    </p>

    {% for dato in usuario.publicaciones %}
    <div class="alert alert-dark">
        <p>
            {{ dato.titulo }}
        </p>
        <hr>
        <p>
            {{ dato.cont }}
        </p>
        <a href="{% url 'eliminar_publicacion' dato.ide %}">Eliminar publicacion</a>
    </div>
    <br>
    {% endfor %}
    
</section>
{% endblock %}